*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Header 
#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}
  
#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}
  
#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}



.login-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.login-form-container { 
    max-width: 630px;
    max-height: 630px;
    outline: 1px solid lime;
}